<div class="panel panel-default row" ng-controller="folderListCtrl">
    <div class="col-xs-3">
            <a ng-repeat="folder in folders | orderBy:'name'"   
                ng-click="selectFolder(folder)" class="btn btn-outline-warning btn-block"
                ng-class="getFolderClass(folder.name)">
                {{folder.name}}
            </a>
    </div>
    <div class="col-xs-8">
        <div class="container">          
                <table class="table table-striped" >
                    <thead>
                        <button ng-click="changeView('changeFolder')" 
                            class="btn btn-outline-success pull-right">
                            Change Folder
                        </button>
                        &nbsp;
                        <button ng-click="changeView('addFolder')" 
                            class="btn btn-outline-success pull-right">
                            Add Folder
                        </button>
                        &nbsp;
                        <button ng-click="deleteFolder()" 
                            class="btn btn-outline-danger pull-right">
                            Delete Folder
                        </button>
                    <tr>
                        <th>Link and Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="link in selectedFolder.myLinks">
                        <td><a ng-href="{{link.body}}">{{link.body}}</a>
                            <br/>
                            <i>({{link.description}})</i>
                            <br/>
                            <button ng-click="changeView('changeLink')" 
                                class="btn btn-outline-success pull-right">
                                Change</button>
                            <button ng-click="deleteLink(link.id)" 
                                class="btn btn-outline-danger pull-right">
                                Delete
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button ng-click="changeView('addLink')" 
                                class="btn btn-outline-success pull-right">
                                Add Link
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
        </div>
    </div>




<!--
        
        <div class="col-xs-8">
            <div class="well" ng-repeat=
            "folder in folders | filter:folderFilterFn | range:selectedPage:pageSize">
                <i>{{folder.name}}</i>
                <div class="well" >
                    <h3>
                        <strong></strong>
                    </h3>
                    <span class="lead"></span>
                </div>
            </div>
            <div class="pull-right btn-group">
                <a ng-repeat=
                    "page in folders | filter:categoryFilterFn | pageCount:pageSize"
                    ng-click="selectPage($index + 1)" class="btn btn-default"
                    ng-class="getPageClass($index + 1)">
                    {{$index + 1}}
                </a>
            </div> 
        </div>
    </div>
    -->