
<div class="panel panel-default row" ng-controller="panelCtrl">
    <div class="col-xs-8">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>
                    <button ng-click="editUser(user.id, user.name, user.email)" 
                        class="btn btn-outline-success pull-right">
                        Edit</button>
                    <button ng-click="deleteUser(user.id)" 
                        class="btn btn-outline-danger pull-right">
                        Del
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Role</th>
                <th>Users</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(name, users) in usersInRoles">
                <td>{{name}}
                    <br>
                    <button ng-click="changeRole(name, users)"
                        class="btn btn-success">
                        Save changes
                    </button>
                </td>
                <td>
                    <div class="form-check" ng-repeat="(user,enabled) in users">
                        <label class="form-check-label" >
                            <input type="checkbox" class="form-check-input" ng-model="users[user]"> {{user}}
                        </label>
                    </div>
                </td>
            </tr>
            </tbody>
    </table>
    </div>
</div>